.post-content .highlight table td { padding: 5px; }
.post-content .highlight table pre { margin: 0; }
.post-content .highlight .gh {
  color: #999999;
}
.post-content .highlight .sr {
  color: #f6aa11;
}
.post-content .highlight .go {
  color: #888888;
}
.post-content .highlight .gp {
  color: #555555;
}
.post-content .highlight .gs {
}
.post-content .highlight .gu {
  color: #aaaaaa;
}
.post-content .highlight .nb {
  color: #f6aa11;
}
.post-content .highlight .cm {
  color: #98c379;
}
.post-content .highlight .cp {
  color: #98c379;
}
.post-content .highlight .c1 {
  color: #98c379;
}
.post-content .highlight .cs {
  color: #98c379;
}
.post-content .highlight .c, .post-content .highlight .ch, .post-content .highlight .cd, .post-content .highlight .cpf {
  color: #98c379;
}
.post-content .highlight .err {
  color: #960050;
}
.post-content .highlight .gr {
  color: #960050;
}
.post-content .highlight .gt {
  color: #960050;
}
.post-content .highlight .gd {
  color: #49483e;
}
.post-content .highlight .gi {
  color: #49483e;
}
.post-content .highlight .ge {
  color: #49483e;
}
.post-content .highlight .kc {
  color: #66d9ef;
}
.post-content .highlight .kd {
  color: #66d9ef;
}
.post-content .highlight .kr {
  color: #66d9ef;
}
.post-content .highlight .no {
  color: #66d9ef;
}
.post-content .highlight .kt {
  color: #66d9ef;
}
.post-content .highlight .mf {
  color: #ae81ff;
}
.post-content .highlight .mh {
  color: #ae81ff;
}
.post-content .highlight .il {
  color: #ae81ff;
}
.post-content .highlight .mi {
  color: #ae81ff;
}
.post-content .highlight .mo {
  color: #ae81ff;
}
.post-content .highlight .m, .post-content .highlight .mb, .post-content .highlight .mx {
  color: #ae81ff;
}
.post-content .highlight .sc {
  color: #ae81ff;
}
.post-content .highlight .se {
  color: #ae81ff;
}
.post-content .highlight .ss {
  color: #ae81ff;
}
.post-content .highlight .sd {
  color: #e6db74;
}
.post-content .highlight .s2 {
  color: #e6db74;
}
.post-content .highlight .sb {
  color: #e6db74;
}
.post-content .highlight .sh {
  color: #e6db74;
}
.post-content .highlight .si {
  color: #e6db74;
}
.post-content .highlight .sx {
  color: #e6db74;
}
.post-content .highlight .s1 {
  color: #e6db74;
}
.post-content .highlight .s, .post-content .highlight .sa, .post-content .highlight .dl {
  color: #e6db74;
}
.post-content .highlight .na {
  color: #a6e22e;
}
.post-content .highlight .nc {
  color: #a6e22e;
}
.post-content .highlight .nd {
  color: #a6e22e;
}
.post-content .highlight .ne {
  color: #a6e22e;
}
.post-content .highlight .nf, .post-content .highlight .fm {
  color: #a6e22e;
}
.post-content .highlight .vc {
  color: #ffffff;
}
.post-content .highlight .nn {
  color: #ffffff;
}
.post-content .highlight .nl {
  color: #ffffff;
}
.post-content .highlight .ni {
  color: #ffffff;
}
.post-content .highlight .bp {
  color: #ffffff;
}
.post-content .highlight .vg {
  color: #ffffff;
}
.post-content .highlight .vi {
  color: #ffffff;
}
.post-content .highlight .nv, .post-content .highlight .vm {
  color: #ffffff;
}
.post-content .highlight .w {
  color: #ffffff;
}
.post-content .highlight {
  color: #ffffff;
  background-color: #272822;
}
.post-content .highlight .n, .post-content .highlight .py, .post-content .highlight .nx {
  color: #ffffff;
}
.post-content .highlight .ow {
  color: #f92672;
}
.post-content .highlight .nt {
  color: #f92672;
}
.post-content .highlight .k, .post-content .highlight .kv {
  color: #f92672;
}
.post-content .highlight .kn {
  color: #f92672;
}
.post-content .highlight .kp {
  color: #f92672;
}
.post-content .highlight .o {
  color: #f92672;
}
